  #loginBox {
    float: center;
    vertical-align:center;
    border-style: outset;
    border-width: 4px;
    border-color:rgba(0, 0, 0, 0.683);
    border-radius: 6px;
    padding : 50px 50px 50px 50px;
    width: 20%;
    margin-top:200px;
    margin-left:500px;
  }
    #loginForm {
    padding : 50px 50px 50px 50px;  
    float: center;
    vertical-align:center;
    width: 300px
  }

  #submitButton
  {
    font: Roboto;
    width:150px;
    border-style:outset;
    background-color:  rgb(144, 177, 106);
  }
  h1
  {
      margin-left:40px;
      margin-top:40px;
      font: Roboto;
      color:  rgb(144, 177, 106);
  }