<!DOCTYPE html>
<html>
<head>

    <meta name="google-signin-client_id" content="723893521330-94000c9m5sl45f9ibc08hbccpfj9r6uo.apps.googleusercontent.com">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8"/>
    <title>Fuku Tea </title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/styles/fukuStyle.css">
</head>

<body>
    <script src="static/js/main.js"></script>
    <div id="gSignIn" class="g-signin2"  data-onsuccess="onSuccess"></div>
    <br>
  <div class="content">
    <div id="userWelcome">
        {%if userName%}
        Welcome back, {{userName}}
        {%endif%}
        </div>
    <img id = "logo" src="static/img/fukuLogo.png" >
    <div id="navbar">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href=#userWelcome>About</a>
      <a class="navbutton" href=#map>Maps</a>
      <a class="navbutton" href="/menu.html">Order Now</a>
      <a class="navbutton" href="/customDrink">Custom Drink</a>
      <a class="navbutton" href="/random">Random Drink</a>
      <a class="navbutton" href="/info.html">About</a>
      <a class="navbutton" href="/profile.html">Profile</a>
      <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
    </div>
    <div id="about">
      <h3>About</h3>
      <p>
        In 2015, inspired by the success of Taiwanese "Tapioca Tea" in California and all over the world, Ting Yen set out to create Fuku Tea.
        Fuku Tea specializes in bubble tea with an added twist. With over 25 drinks to choose from, and up to 6 options for customization for each,
        the combinations are endless. From premium hot loose leaf teas to delicious specialty milk teas to snacks and toppings and smoothies
        , there truly is something for everybody at Fuku Tea.
      </p>
      <p>
        Check out our menu and place an order <a href="/order">here</a>.
      </p>
    </div>
    <div id="inner_content">
      <div id="map_div">
        <div id="map_info">
          <h3>Information</h3>
          <p>
            See the marker to the right to easily locate Fuku Tea!
            <br><br>
            Also check out Sushi Fuku on Oakland Ave or Craig Street for more fresh and delicious options!
          </p>
        </div>
        <div id="map">
          <p>Map loading...</p>
        </div>
      </div>
    </div>
  </div>  
   <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADHDwizwJ-NtJV-QnSStaGmlZIa2f38dI&callback=initMap"></script>
  
</body>
</html>