<!DOCTYPE html>
<html>
<head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8"/>
    <title>Fuku Tea by Group 5</title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/styles/fukuStyle.css">
</head>

<body>
  <div class="content">
    <div id="userWelcome">{{userName}}</div>
    <img id = "logo" src="static/img/fukuLogo.png" >
    <div id="navbar">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href=#userWelcome>About</a>
      <a class="navbutton" href=#map>Maps</a>
      <a class="navbutton" href=#reviews>Reviews</a>
      <a class="navbutton" href="/login">Login</a>
      <a class="navbutton" href="/order">Order Now</a>
      <a class="navbutton" href="/customDrink">Custom Drink</a>
    </div>
    <div id="about">
      <h3>About</h3>
      <p>
        In 2015, inspired by the success of Taiwanese "Tapioca Tea" in California and all over the world, Ting Yen set out to create Fuku Tea.
        Fuku Tea specializes in bubble tea with an added twist. With over 25 drinks to choose from, and up to 6 options for customization for each,
        the combinations are endless. From premium hot loose leaf teas to delicious specialty milk teas to snacks and toppings and smoothies
        , there truly is something for everybody at Fuku Tea.
      </p>
      <p>
        Check out our menu and place an order <a href="/order">here</a>.
      </p>
    </div>
    <div id="inner_content">
      <div id="map_div">
        <div id="map_info">
          <h3>Information</h3>
          <p>
            See the marker to the right to easily locate Fuku Tea!
            <br><br>
            Also check out Sushi Fuku on Oakland Ave or Craig Street for more fresh and delicious options!
          </p>
        </div>
        <div id="map">
          <p>Map loading...</p>
        </div>
      </div>
    </div>
  </div> 
   <div id=Reviews>
       {%extends '_base.html' %}
        {% block content %}
        <div id="DisplayArea"></div>
        <h3>Write a New Review</h3>
        <table>
            <tr>
            <td>Enter Username:</td>
            </tr>
            <tr>
            <td><input type="text" id="userName"></td>
            </tr>
            <tr>
            <td>Enter Review:</td> 
            </tr>
            <tr>
            <td><input type="text" id="item_title"></td>
            <td><button onclick="saveItem();">Post</button></td>
            </tr>
        </table>
        <script src="static/js/shopping_list.js"></script>
        {% endblock %} 
    </div>
   
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAeP-cssxFr53LM4wEnmR_SPvSXdFrIR4&callback=initMap"></script>
  <script src="static/js/main.js"></script>
</body>
</html>