<head>
   <meta name="google-signin-client_id" content="261391569728-omarmubob7v9jal4mp1ldm85amiaqplp.apps.googleusercontent.com"> 
<!--     <meta name="google-signin-client_id" content="1079172216469-4ld6c47p1ua6e4dlkjp5bd8r68dc3lb7.apps.googleusercontent.com">-->
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8"/>
    <title>Fuku Tea</title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/styles/fukuStyle.css">
</head>
<div id="userWelcome">
    {%if userName%}
    Welcome back, {{userName}}
    {%endif%}
</div> 
<img id = "logo" src="static/img/fukuLogo.png">
    <div id="navbar">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/info.html">About</a>
      <a class="navbutton" href="/menu.html">Order Now</a>
      <a class="navbutton" href="/customDrink">Custom Drink</a>
      <a class="navbutton" href="/random">Random Drink</a>
      <a class="navbutton" href="/profile">Profile</a>
      <a class="navbutton" href="/leaderBoard">LeaderBoard</a>
      <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
    </div>