<head>
<!--    <meta name="google-signin-client_id" content="723893521330-94000c9m5sl45f9ibc08hbccpfj9r6uo.apps.googleusercontent.com"> -->
    <meta name="google-signin-client_id" content="1079172216469-4ld6c47p1ua6e4dlkjp5bd8r68dc3lb7.apps.googleusercontent.com">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8"/>
    <title>Fuku Tea</title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/styles/fukuStyle.css">
</head>