<!DOCTYPE html>
<html>
  {% include "header.html" %}
<head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8"/>
    <title>Fuku Tea by Group 5</title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="">
</head>

<body>
  <section>
    <div id="header">
      <h1>About</h1>
    </div>
  </section>
  <section>
    <div id="body">
      <h3>Authors</h3>
      <p>
        Chris, Ryan, Dharma, Brandon
      </p>
      <h3>Inspiration</h3>
        <p>
          The wonderful bubble tea shop, Fuku Tea, located on Forbes Ave. (see main page for map).
        </p>
    </div>
    <div id="footer">
      <p>
        Disclaimer: This is a project for the University of Pittsburgh's COE1520 class. Original source content is available at
        <a href="https://www.fukutea.com/">https://www.fukutea.com/</a>.</p>
      </p>
    </div>
  </section>
</body>
</html>