<html>
<head>
  <link rel="stylesheet" href="static/styles/templates.css">
</head>
<body>
  <div id ="loginBox">
    <h1>Log Into Fuku!</h1>
    <form id="loginForm" method= "post" action="{{ url_for('login') }}">
    <p>
      Enter Your Login:<br>
      <input class="inp" type= "text" name="userName"></input><br>  
      Enter Your Password:<br>
      <input class="inp" type= "password" name="password"></input><br> 
    </p>
    <button id="submitButton" type= "submit">Login</button>
    </div>
</body>

</html>