{% extends 'responsiveMenu.html' %} {% block content %}
<div id="flex-container"></div>
<div id="info-popup">
    <span>Contains some information about a drink</span>
    <button onclick="hideInfo();">Save</button>
</div>
{% endblock %} 


{% block footer %}
{% if admin == "true" %}
<form action="/save-data" method="post" enctype="multipart/form-data">
	<ul class="adminForm-style">
		<li>
			<h3>New Item Upload</h3>
		</li>
		<li>
			<label>Name</label>
          <input type="text" name="name" id="item-name"/> 
        </li>
        <li>
          <label>Price</label>
          <input type="number" name="price" id="item-price" min="0" max="100" step="any" /> <!-- Price -->
        </li>
        <li>
          <input type="file" name="file" id="item-file" />
        </li>
        <li>
            <input type="submit" value="Upload"/>
        </li>
      </ul>
    </form>
    <button onclick="deleteAll();"/>Clear</button>
{% else %}
{% endif %}
{% endblock %}
