<div id="userWelcome">
    {%if userName%}
    Welcome back, {{userName}}
    {%endif%}
</div> 
<img id = "logo" src="static/img/fukuLogo.png">
    <div id="navbar">
      <a class="navbutton" href="/">Home</a>
      <a class="navbutton" href="/info.html">About</a>
      <a class="navbutton" href="/menu.html">Order Now</a>
      <a class="navbutton" href="/customDrink">Custom Drink</a>
      <a class="navbutton" href="/random">Random Drink</a>
      <a class="navbutton" href="/profile">Profile</a>
      <a class="navbutton" href="/leaderBoard">LeaderBoard</a>
      <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
    </div>