<!DOCTYPE html>
<!-- https://www.webfx.com/blog/web-design/20-html-best-practices-you-should-follow/ -->

<HTML>
<head>
  <link rel="stylesheet" href="static/styles/orderPagestyles.css">
  <meta charset="utf-8"/>
</head>

<body>

  <div class="grid-container">
	  <div class="header">
      <h1>Signature Drink Menu</h1>
	  </div>
  
	  <div class="menu">
      <table>
        <tr>
          <td><img class="item" src="static/img/thai_iced_tea.jpg" alt="thai_iced_tea"></td>
          <td><img class="item" src="static/img/matcha_latte.jpg" alt="matcha_latte"></td>
          <td><img class="item" src="static/img/original_milk_tea.jpg" alt="original_milk_tea"></td>
        </tr>
        <tr>
          <td><button class="item_button" id="Thai_Tea" onclick="add(this.id)" type="button" value="Thai Tea">Thai Tea</button></td>
          <td><button class="item_button" id="Matcha_Latte" onclick="add(this.id)" type="button" value="Matcha Latte">Matcha Latte</button></td>
          <td><button class="item_button" id="Original_Milk_Tea" onclick="add(this.id)" type="button" value="Original Milk Tea">Original Milk Tea</button></td>
        </tr>
        <tr>
          <td><img class="item" src="static/img/green_thai_tea.png" alt="green_thai_tea"></td>
          <td><img class="item" src="static/img/masala_chai_latte.jpg" alt="masala_chai_latte"></td>
          <td><img class="item" src="static/img/vanilla_chai_latte.png" alt="vanilla_chai_latte"></td>
        </tr>
        <tr>
          <td><button class="item_button" id="Green_Thai_Tea" onclick="add(this.id)" type="button" value="Green Thai Tea">Green Thai Tea</button></td>
          <td><button class="item_button" id="Masala_Chai_Latte" onclick="add(this.id)" type="button" value="Masala Chai Latte">Masala Chai Latte</button></td>
          <td><button class="item_button" id="Vanilla_Chai_Latte" onclick="add(this.id)" type="button" value="Vanilla Chai Latte">Vanilla Chai Latte</button></td>
        </tr>
        <tr>
          <td><img class="item" src="static/img/hong_kong_milk_tea.jpg" alt="hong_kong_milk_tea"></td>
          <td><img class="item" src="static/img/taro_milk_tea.jpg" alt="taro_milk_tea"></td>
          <td><img class="item" src="static/img/black_and_gold.jpg" alt="black_and_gold"></td>
        </tr>
        <tr>
          <td><button class="item_button" id="Hong_Kong_Milk_Tea" onclick="add(this.id)" type="button" value="Hong Kong Milk Tea">Hong Kong Milk Tea</button></td>
          <td><button class="item_button" id="Taro_Milk_Tea" onclick="add(this.id)" type="button" value="Taro Milk Tea">Taro Milk Tea</button></td>
          <td><button class="item_button" id="Black_and_Gold" onclick="add(this.id)" type="button" value="Black and Gold">Black and Gold</button></td>
        </tr>
      </table>
	  </div>

	  <div class="cart">
      <div><h2 class="header2">Shopping Cart</h2></div>
      <div>
        <table id="cart_table">
          <tr>
            <th>Item</th><th class='quantity'>Quantity</th>
          </tr>
        </table>
        <!-- <ul id="cart_list"></ul> -->
      </div>
      <p id="price"></p>
      <p id="tax"></p>
      <p id="total"></p>
      <div class="cart_button">
        <button onclick="clear_cart()">Clear</button>
        <button onclick="print_cart()">Print</button>
      </div>
	  </div>
    <div class="footer">
      <a href="/" id="back">Main</a>
    </div>
  </div>

  <script src="static/js/order.js"></script>
</body>
</HTML>