<!DOCTYPE html>
<html>
  {% include "header.html" %}
<head>
  <link rel="stylesheet" href="../static/styles/profileStyle.css">
</head>
<body>

<div id = "profileTitle"> Your Profile </div>

{% if setup %}
<img id = "picture" src = "{{picture}}">
<div class = "userInfo">
	<div class = "elements" id = "username">Username: {{userName}} {{lastname}}</div>
	<div class = "elements" id = "rewards">Reward Points: {{rewards}}</div>
	<div class = "elements" id = "email">Email: {{emailAddress}}</div>
</div>

<div>
	<h1 id= "favshead">
		Your Favorites
	</h1>
	<table id="favs" >
		<tr>
			<td><img class="custDrinks" id = "drink1" src="static/img/black_and_gold.jpg" ></td>
			<td><img class="custDrinks" id = "drink2" src="static/img/matcha_latte.jpg" ></td>
	</table>
</div>
{% else %}
Please login to see profile
{% endif %}
</body>
</html>