<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/styles/profileStyle.css">
  <link rel="stylesheet" href="static/styles/responsiveMenuCSS.css" />
  {% include "header.html" %}
</head>
<body>

{% include "navbar.html" %}

<div id = "profileTitle"> Your Profile </div>

{% if setup %}
<img id = "picture" src = "{{picture}}">
<div class = "userInfo">
	<div class = "elements" id = "username">Username: {{userName}} {{lastname}}</div>
	<div class = "elements" id = "rewards">Reward Points: {{rewards}}</div>
	<div class = "elements" id = "email">Email: {{emailAddress}}</div>
</div>
<br>
<br>
<section>
        <h1 id= "favshead">Your Favorites</h1>
</section>
<section>
<div id="flex-container"></div>
<div id="info-popup">
    <div class="info-popup-item">
           
                <div id="setText"></div>
            
               
                   
         
    </div>
</div>
</div>
<div id="wrapper"></div>
</section>
{% else %}
Please login to see profile
{% endif %}
<script src="../static/js/userFavs.js">
	</script>
	<script src="../static/js/focus-visible.js">
	</script>


	<section id="ErrorArea"></section>
</body>

	
</html>