<!DOCTYPE html>
<HTML>

<head>
	<link rel="stylesheet" href="../static/styles/responsiveMenuCSS.css">
    <title>Fuku Tea </title>
	<meta charset="utf-8" />
</head>

<body class="js-focus-visible">

	<section>
		<h1 id="sigdrink">Signature Drinks</h1>
	</section>

	<section>
		{% block content %}{% endblock %}
	</section>
	<div id="footer">
		<section>
			{% block footer %}{% endblock %}
		</section>
	</div>

	<section>
		<h6><a href="/">Back</a></h6>
	</section>

	<section id="ErrorArea"></section>

	<script src="../static/js/responsiveMenuJS.js">
	</script>
	<script src="../static/js/focus-visible.js">
	</script>
</body>

</HTML>