{% block content %}
<div id="flex-container"></div>
<div id="info-popup">
    <div class="info-popup-item">
        <form id="info-popup-form" onreset="hideInfo()" method="post">
           
                <li>
                    <input type="submit" value="submit" class="item_button"></input>
                </li>
                <li>
                    <input type="reset" value="clear" class="item_button"></input>
                </li>
                <li>
                    <div class="info-popup-item" id="info-popup-price"></div>
                </li>
                <li>
                    <input type="hidden" readonly="readonly" id="form-name" name="name"></input>
                    <input type="hidden" readonly="readonly" id="form-price" name="price"></input>
                </li>
            </ul>
    </form>
    </div>
</div>
{% endblock %} 