body {
  background-color: #abebb4;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.order {
  flex-basis: auto;
  margin: 10px;
  padding: 10px;
  background-color: #F7F7F7;
  flex-shrink: 0;
  width: 300px;
  height: 250px;
  border: 1px solid black;
}

#access_restricted {
    font-family: cursive;
    font-size: 36 px;
}

.delete {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.delete {
    background-color: black;
    color: white;
    font-size: 20x;
    margin: 4px;
    border-radius: 8px;
}
