body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #abebb4;
  }
  .content{
    position: relative;
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image : url("../img/bobaTea.jpg");
    border-style: solid;
	border-color: black;
	border-width: thin;
    border-radius: 10px;
  }
  #gSignIn{
    float: right;
    margin-left: 100%;
  }
  #gSignOut{
    margin-left: 100%;
    text-align: left;
    padding-right: 12px;
    float: right;
  }
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 15%;
    height:15%;*/
  }
  #favs {
    width: 100%;
    height:75%;
  }
  #favshead{
    size: 36px;
    font: Roboto;
    text-align: center;
  }
  #userWelcome{
    size: 28px;
    font-weight: bold; 
    font: Roboto;
    text-shadow: -1px black;
    color: #358e41;
  }
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .custDrinks{
    width:25%;
    height:25%;
  }

#history {
    padding-top: 10px;
  background-color: white;
  border: 5px black;
  line-height: 1.5em;
  border-radius: 10px;
}

.main_text {
    display: inline;
    font-size: 20px;
    font-family: "Arial", Arial, sans-serif;
}

#favlink:link {
    text-decoration: none;
    color: black;
}
#favlink:visited {
    color: rgb(129, 176, 191);
    text-decoration: none;
}
#favlink:hover {
    color:blue;
    text-decoration: none;
}
  
  #map_div {
    position: relative;
    margin: auto;
  }
  
  #map {
    width:49%;
    height:400px;
    float: right;
    background-color: #f8f9f9;
    border-radius: 10px;
  }
  
  #map_info {
    float: left;
    width: 49%;
    height:400px;
    background-color: #f8f9f9;
    border-radius: 10px;
  } 
  
  #about {
    background-color: #f8f9f9;
    border-radius: 10px;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  #about p {
    padding: 10px;
    font-size: 16px;
  }
  
  #about h3 {
    padding: 10px;
  }
  
  #map_info{
      margin-left: 3em;
      width: 21em;
  }

  #map_info p {
    font-size: 16px;
    padding: 10px;
  }

  #map{
      margin-right: 3em;
  }
  
  #reviews {
    background-color: #f8f9f9;
    border-radius: 10px;
  }
  
  #reviews p {
    padding: 10px;
    font-size: 16px;
  }
  
  #reviews h3 {
    padding: 10px;
  }
  