#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
  #navbar a {
    float: center;
    color: #050505;
    text-align: center;
    padding-left: 30px ;
    padding-right: 30px ;
    text-decoration: none;
    font-size: 24px;
    border-radius: 30px;
    background-color: #358e41;
    margin: 4px 8px;
  }
  
  #navbar a:hover {
    background-color: #5f765c;
    color: black;
    border-radius:30px;
  }