  .grid-container {
	  display: grid;
	  position: relative;
	  margin: 0;
	  padding: 0;
  }
  
  .header2 {
    text-align: center;
  }
  
  body {
    background-color: #b7edb1 ;
  }
  
  .header {
	  grid-row-start: 1;
	  grid-row-end: 2;
	  grid-column-start: 1;
	  grid-column-end: 3;
	  text-align: center;
    background-color: #3498db ;
    border-radius: 8px;
  }
  
  .menu {
	  grid-row-start: 2;
	  grid-row-end: 3;
    width: 100%;
  }
  
  .menu td {
    padding: 5px 65px;
  }
  
  .cart {
    border: 2px solid  #21618c ;
    border-radius: 10px;
  }
  
  #cart_table {
    width: 100%;
  }
  
  .cart_button {
    position: fixed;
    bottom: 20%;
  }

  ul#cart_list {
	list-style-type: none;  
  }

  .item {
	  border-radius: 15px;
	  border: 1px solid white;
  }

  .item:hover {
	  border-radius: 15px;
	  border: 1px solid  #99a3a4 ;
  }
  
  img {
	  width: 100%;
	  height: auto;
  }
  
  .item_button {
	  width: 140px;
    height: 30px;
	  border-radius:10px;
	  background-color: #5d9e56 ;
  }
  
  .item_button:hover {
	  background-color:  #a6acaf;
  }
  
  #back {
    font-family: "Arial", Arial, Sans-serif;
  }