  #loginBox {
    border-style: outset;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.683);
    border-radius: 6px;
    margin: 0 auto;
    position: absolute;
    left: 35%;
    width: 25%;
    top: 10%;
    padding: 30px;
    text-align: center;
    background-color: white;
  }
  
   #loginForm {
    float: center;
    vertical-align:center;
    width: 300px;
  } 
  

  #submitButton
  {
    font: Roboto;
    width:150px;
    height: 30px;
    border-style:outset;
    background-color:   #5d9e56 ;
    border-radius: 10px;
  }
  h1
  {
      font: Roboto;
      color:  white;
      background-color:  #5d9e56 ;
      border-radius: 10px;
      padding: 5px;
      
     text-shadow: 1px 1px black;
  }
  
  p {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 24px;
    margin: 40px 0px;
    line-height: 200%;
  }
  
  .inp {
    height: 24px;
  }
  
  body {
    background-color:  #b7edb1;
  }